In [55]:
print("안녕")

안녕

In [ ]:
print("안녕" * 5)

In [ ]:
print("=" * 20, end='')
print("안녕" * 5, end='')
print("=" * 20, end='')

<hr>

In [ ]:
print("안녕", "하시", "겠습니까", "?", sep='-')
print(1, 2, 3, 4, 5, sep='/')

<hr>

In [ ]:
import time as t

print("잠온다")
t.sleep(1)
print("배가불러서일까")
t.sleep(1)
print("배가고파서일까")

<hr>

In [ ]:
import time as t

print("기대하세요.", end='\r')
t.sleep(1.5)
print("드디어~~~", end='\r')
t.sleep(1.5)
print("개봉합니다!", end='\r')

## 숫자형

a = 123
b = -321
c = 0
print(a)
print(b)
print(c)

In [ ]:
# 실수형
aa = 3.141592
bb = -12.34
cc = 3.14E10
dd = 3.14E-10
ee = 2**10
print(aa)
print(bb)
print(cc)
print(dd)
print(ee)

In [ ]:
# 2진수(bin)
aaa = 0b1101
# 8진수(oct)
bbb = 0o177
# 16진수(hex)
ccc = 0x8ff
print(aaa)
print(bbb)
print(ccc)

In [ ]:
ss = 5
dd = 7
print(ss ** dd)

<table  style="float:left">
<thead>
<tr>
<th>항목</th>
<th>파이썬 사용 예</th>
</tr>
</thead>
<tbody>
<tr>
<td>정수</td>
<td>123, -345, 0</td>
</tr>
<tr>
<td>실수</td>
<td>123.45, -1234.5, 3.4e10</td>
</tr>
<tr>
<td>8진수</td>
<td>0o34, 0o25</td>
</tr>
<tr>
<td>16진수</td>
<td>0x2A, 0xFF</td>
</tr>
</tbody>
</table>

In [ ]:
sa = 77
san = 13
print('덧셈:', sa + san)
print('뺄셈:', sa - san)
print('곱셈:', sa * san)
print('나눗셈:', sa / san)
print('몫:', sa // san)
print('나머지:', sa % san)
print('승:', sa ** san)

## 1분 코딩

In [ ]:
print(10 * 18 ** 2 + 2 * 11)

In [ ]:
! ls

In [ ]:
! cat test.py

In [ ]:
pwd

## 문자열 자료형

In [ ]:
str1 = "안녕" + '하세요'
str2 = "안녕하세요 '홍길동' 이라고 합니다"
str3 = '안녕하세요 "홍길동" 이라고 합니다'
str4 = """
저는
여러줄을
작성합니다.
"""
str5 = '''저는
여러줄을
작성합니다.
'''
str6 = "저는 \n여러줄을 \n작성합니다.\n"

food = 'Python\'s favorite food is perl'

say = "\"Python is very easy.\" he says."

print(str1)
print(str2)
print(str3)
print(str4)
print(str5)
print(str6)
print(food)
print(say)

<table style="float:left">
<thead>
<tr>
<th>코드</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>\n</code></td>
<td><mark>문자열 안에서 줄을 바꿀 때 사용</mark></td>
</tr>
<tr>
<td><code>\t</code></td>
<td><mark>문자열 사이에 탭 간격을 줄 때 사용</mark></td>
</tr>
<tr>
<td><code>\\</code></td>
<td><code>\</code>를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\'</code></td>
<td>작은따옴표(')를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\"</code></td>
<td>큰따옴표(")를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\r</code></td>
<td>캐리지 리턴(줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)</td>
</tr>
<tr>
<td><code>\f</code></td>
<td>폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)</td>
</tr>
<tr>
<td><code>\a</code></td>
<td>벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)</td>
</tr>
<tr>
<td><code>\b</code></td>
<td>백 스페이스</td>
</tr>
<tr>
<td><code>\000</code></td>
<td>널 문자</td>
</tr>
</tbody>
</table>

In [ ]:
# 문자열 길이 구하기
a = "Life is too short 는"
print(a, str(len(a)) + "자 입니다.") #string -> str, length -> len

In [ ]:
# 문자열 인덱싱
a = "Life is too short, You need Python"

In [ ]:
print(a[1] + a[8])

In [ ]:
word = a[13] + a[14] + a[21] + a[12] + a[3]
print(word)

In [ ]:
# 슬라이싱    ,    0 <= x < 4 + 4 <= x < 7 + 7 <= x < 10
print(a[:4])
print(a[12:17])
print(a[19:])
print(a[19:-4])

In [ ]:
a = "20230331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]

print(year)
print(day)
print(weather)

In [ ]:
a = "Pithon"
print(a[:1])
print(a[2:])
print(a[:1] + 'y' + a[2:])

In [ ]:
a = "Life is too short, You need Python"
print(a[::-1])

In [ ]:
today = '20260203오늘은쌀쌀하다.' 
print(today[:4] + '년', today[5:6] + '월', today[7:8] + '일', today[8:11], today[11:])

In [ ]:
import time as t
dir(t)

In [ ]:
# 응용
import requests as req

url = "https://n.news.naver.com/mnews/artic le/079/0004111780"
res = req.get(url).text
print(res[:600])
print(res.find("인간"))
print(res[600:650])

In [3]:
import requests as req

url = "https://api4.binance.com/api/v3/ticker/price?symbol=BTCUSDT"
response_data = req.get(url).json()

price = float(response_data['price'])

print(price)

won = str(int(price * 1450))
# print(won[:1] + '억' + won[1:5] + '만' + won[5:] + '원')
print(won)

ValueError: invalid literal for int() with base 10: '70765.49000000'

## 문자열 포매팅

In [ ]:
app = 3
print("나는 사과를 %d개 먹었다." % app)

In [ ]:
print("나는 사과를 %s개 먹었다." % '3')

In [ ]:
inp = input("몇개인지 입력하세요.")
print("나는 사과를 %s개 먹었다." % (int(inp) * 10))

In [ ]:
# 문자열 포매팅, 2개 이상의 값 넣기
won = 2000
ea = int(input("몇 개인지 입력하세요."))

print("나는 %d원짜리 사과를 %d개 먹었다. 총 비용은 %d원이다." %(won, ea, won * ea))

<table style="float:left">
<thead>
<tr>
<th>코드</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td>%s</td>
<td><mark>문자열(String)</mark></td>
</tr>
<tr>
<td>%c</td>
<td>문자 1개(character)</td>
</tr>
<tr>
<td>%d</td>
<td><mark>정수(Integer)</mark></td>
</tr>
<tr>
<td>%f</td>
<td><mark>부동소수(floating-point)<mark></td>
</tr>
<tr>
<td>%o</td>
<td>8진수</td>
</tr>
<tr>
<td>%x</td>
<td>16진수</td>
</tr>
<tr>
<td>%%</td>
<td>Literal % (문자 <code>%</code> 자체)</td>
</tr>
</tbody>
</table>

In [ ]:
# 문자열
print("%s" % '12.34 문자표현')
# 정수
print("%d" % 12.34)
# 부동소수점
print("%f" % 12.34)
# %%표기
print("한국에 산은 %d%% 정도 있습니다." % 70)

In [ ]:
# 소수점 표현하기

print("%.2f" % 3.141592)
print("%10.2fkkkk" % 3.141592)
print("%-10.2fkkkk" % 3.141592)

In [ ]:
s = 'five'
ss = "I eat {} apples".format(s)

print(sss, type(sss))

In [ ]:
s = 'five'
e = 7
ss = "I eat {0} apples, so I was sick for {1} days.".format(s, e)
print(ss, type(ss))

In [ ]:
sss = "I ate {0} apples. so i was sick for {day} days.".format(10, day = 3)
print(sss)

In [ ]:
# 왼쪽정렬
print("{0:<10}".format("hi"))
# 오른쪽 정렬
print("{0:>10}".format("hi"))
# 가운데 정렬
print("{0:^10}".format("hi"))

In [ ]:
# 응용
re = "{0:^18}".format("영수증")
print("=" * 20 + "\n" + re + "\n" + "=" * 20)

In [ ]:
americano_count = int(input("아아 개수 입력: "))
latte_count = int(input("라떼 개수 입력: " ))
print('')

americano_price = 2500
latte_price = 3800

total_americano = americano_count * americano_price
total_latte = latte_count * latte_price
total_price = total_americano + total_latte

print("=" * 20)
print("{:^18}".format("영수증"))
print("=" * 20)

print(f"{'아아':>8} {americano_count}잔")
print(f"{'라떼':>8} {latte_count}잔")

print("." * 20)

print(f"{'아아':>8} {total_americano}원")
print(f"{'라떼':>8} {total_latte}원")

print("-" * 20)

print(f">>>> 총가격 : {total_price} 원")
print("=" * 20)

# 2/4(수) 수업

## f 문자열 포매팅

In [ ]:
name = '홍길동'
age = 30

print(f"나의 이름은 {name}입니다. 나이는 {age} 입니다.")

In [ ]:
d = {'name': '홍길동', 'age': 30}

print(f"나의 이름은 {d['name'] }입니다. 나이는 {d['age']} 입니다.")

In [ ]:
d = {'name': '홍길동', 'age': 30}
# f포매팅에서 주의할 점
# 딕셔너리의 값을 표현할 때 괄호로 묶어 표기하고 공백을 주의하라.

print(f"나의 이름은 {(d['name']):^10}입니다. 나이는 {(d['age']):^10} 입니다.")

In [ ]:
# f문자열을 사용하여 세자리 콤마 찍기
btc = 76216
ssum = btc * 1450
f"{ssum:,}"

### 1.4.4 문자열 관련 함수들

In [ ]:
# 문자 개수 세기
a = "hobby"
b = "applepp"

print(a.count('b'))
print(b.count('p'))

In [4]:
# find - 위치 알려 주기
a = "Python is the best choice"

print(a.find('P'))
print(a.find('b'))
print(a.find('x'))

0
14
-1

In [8]:
a = "Life is too short"

print(a.index('t'))
# print(a.index('z')) 없으면 오류 발생

8

In [14]:
# join - 문자열 삽입
ss = 'abcdefg'

print("-".join(ss))

# # # a-b-c-d-e-f-g
# print("a", "b", "c", sep = "-")

a-b-c-d-e-f-g

In [17]:
# 연습
# # a*b*c*d*e*f*g

# print("*".join("abcdefg"))

nn = '123456789'
print("빠 ".join(nn) + "빠")

1빠 2빠 3빠 4빠 5빠 6빠 7빠 8빠 9빠

In [20]:
a = "Python is the best choice"
print(a.upper())

b = "Python Is The Best Choice"
print(b.lower())

c = "Python Is The Best Choice"
print(c[0] + c[1:].lower())

PYTHON IS THE BEST CHOICE
python is the best choice
Python is the best choice

In [43]:
# # 왼쪽정렬
# print("{0:<10}".format("hi"))
# # 오른쪽 정렬
# print("{0:>10}".format("hi"))
# # 가운데 정렬
# print("{0:^10}".format("hi"))

ss = f"{"hi":^12}"
print(ss)
print(ss.lstrip())
print(ss.rstrip())
print(ss.strip())

     hi
hi
     hi
hi

In [45]:
# replace 문자열 바꾸기

a = "Life is too short"
a.replace("Life", "your leg")

'your leg is too short'

In [71]:
a = "Life is too short"
print(a.split())

b = "a:b:c:d"
print(b.split(':'))


# BaNaNa -> banana -> b*a*n*a*n*a -> ['b', 'a', 'n', 'a', 'n', 'a']
c = "BaNaNa"
lower_c = c.lower()
print(low_c)

c_join = "*".join(lower_c)
print(c_join)
print(c_join.split('*'))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']
banana
b*a*n*a*n*a
['b', 'a', 'n', 'a', 'n', 'a']

In [77]:
# isalpha - 문자열이 알파벳으로만 구성되어 있는지 확인하기
s = "Life is too short"

print(s.replace(" ", "").isalpha()) # 여러 개의 메서드를 온점을 붙여가며 코딩 - 메서드 체이닝

True

In [78]:
# isdigit - 문자열이 숫자로만 구성되어 있는지 확인하기
n = "123456"
n.isdigit()

True