In [1]:
print("안녕")

안녕

In [2]:
print("안녕" * 5)

안녕안녕안녕안녕안녕

In [3]:
print("=" * 20, end='')
print("안녕" * 5, end='')
print("=" * 20, end='')

====================안녕안녕안녕안녕안녕====================

<hr>

In [6]:
print("안녕", "하시", "겠습니까", "?", sep='-')
print(1, 2, 3, 4, 5, sep='/')

안녕-하시-겠습니까-?
1/2/3/4/5

<hr>

In [8]:
import time as t

print("잠온다")
t.sleep(1)
print("배가불러서일까")
t.sleep(1)
print("배가고파서일까")

잠온다
배가불러서일까
배가고파서일까

<hr>

In [9]:
import time as t

print("기대하세요.", end='\r')
t.sleep(1.5)
print("드디어~~~", end='\r')
t.sleep(1.5)
print("개봉합니다!", end='\r')

개봉합니다!

## 숫자형

a = 123
b = -321
c = 0
print(a)
print(b)
print(c)

In [13]:
# 실수형
aa = 3.141592
bb = -12.34
cc = 3.14E10
dd = 3.14E-10
ee = 2**10
print(aa)
print(bb)
print(cc)
print(dd)
print(ee)

3.141592
-12.34
31400000000.0
3.14e-10
1024

In [14]:
# 2진수(bin)
aaa = 0b1101
# 8진수(oct)
bbb = 0o177
# 16진수(hex)
ccc = 0x8ff
print(aaa)
print(bbb)
print(ccc)

13
127
2303

In [17]:
ss = 5
dd = 7
print(ss ** dd)

78125

<table  style="float:left">
<thead>
<tr>
<th>항목</th>
<th>파이썬 사용 예</th>
</tr>
</thead>
<tbody>
<tr>
<td>정수</td>
<td>123, -345, 0</td>
</tr>
<tr>
<td>실수</td>
<td>123.45, -1234.5, 3.4e10</td>
</tr>
<tr>
<td>8진수</td>
<td>0o34, 0o25</td>
</tr>
<tr>
<td>16진수</td>
<td>0x2A, 0xFF</td>
</tr>
</tbody>
</table>

In [23]:
sa = 77
san = 13
print('덧셈:', sa + san)
print('뺄셈:', sa - san)
print('곱셈:', sa * san)
print('나눗셈:', sa / san)
print('몫:', sa // san)
print('나머지:', sa % san)
print('승:', sa ** san)

덧셈: 90
뺄셈: 64
곱셈: 1001
나눗셈: 5.923076923076923
몫: 5
나머지: 12
승: 3344871416191195940889917

## 1분 코딩

In [24]:
print(10 * 18 ** 2 + 2 * 11)

3262

In [1]:
! ls

disp.py  jupy.sh  py01.ipynb  test.py  test.txt  test2.txt  venv

In [3]:
! cat test.py

print("테스트 해볼게요.")
a = 123
b = 234
print(a)
b

In [4]:
pwd

'/home/knh'

## 문자열 자료형

In [14]:
str1 = "안녕" + '하세요'
str2 = "안녕하세요 '홍길동' 이라고 합니다"
str3 = '안녕하세요 "홍길동" 이라고 합니다'
str4 = """
저는
여러줄을
작성합니다.
"""
str5 = '''저는
여러줄을
작성합니다.
'''
str6 = "저는 \n여러줄을 \n작성합니다.\n"

food = 'Python\'s favorite food is perl'

say = "\"Python is very easy.\" he says."

print(str1)
print(str2)
print(str3)
print(str4)
print(str5)
print(str6)
print(food)
print(say)

안녕하세요
안녕하세요 '홍길동' 이라고 합니다
안녕하세요 "홍길동" 이라고 합니다

저는
여러줄을
작성합니다.

저는
여러줄을
작성합니다.

저는
여러줄을
작성합니다.

Python's favorite food is perl
"Python is very easy." he says.

<table style="float:left">
<thead>
<tr>
<th>코드</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>\n</code></td>
<td><mark>문자열 안에서 줄을 바꿀 때 사용</mark></td>
</tr>
<tr>
<td><code>\t</code></td>
<td><mark>문자열 사이에 탭 간격을 줄 때 사용</mark></td>
</tr>
<tr>
<td><code>\\</code></td>
<td><code>\</code>를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\'</code></td>
<td>작은따옴표(')를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\"</code></td>
<td>큰따옴표(")를 그대로 표현할 때 사용</td>
</tr>
<tr>
<td><code>\r</code></td>
<td>캐리지 리턴(줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)</td>
</tr>
<tr>
<td><code>\f</code></td>
<td>폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)</td>
</tr>
<tr>
<td><code>\a</code></td>
<td>벨 소리(출력할 때 PC 스피커에서 '삑' 소리가 난다)</td>
</tr>
<tr>
<td><code>\b</code></td>
<td>백 스페이스</td>
</tr>
<tr>
<td><code>\000</code></td>
<td>널 문자</td>
</tr>
</tbody>
</table>

In [25]:
# 문자열 길이 구하기
a = "Life is too short 는"
print(a, str(len(a)) + "자 입니다.") #string -> str, length -> len

Life is too short 는 19자 입니다.

In [29]:
# 문자열 인덱싱
a = "Life is too short, You need Python"

In [31]:
print(a[1] + a[8])

it

In [33]:
word = a[13] + a[14] + a[21] + a[12] + a[3]
print(word)

house

In [35]:
# 슬라이싱    ,    0 <= x < 4 + 4 <= x < 7 + 7 <= x < 10
print(a[:4])
print(a[12:17])
print(a[19:])
print(a[19:-4])

Life
short
You need Python
You need Py

In [36]:
a = "20230331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]

print(year)
print(day)
print(weather)

2023
0331
Rainy

In [39]:
a = "Pithon"
print(a[:1])
print(a[2:])
print(a[:1] + 'y' + a[2:])

P
thon
Python

In [1]:
a = "Life is too short, You need Python"
print(a[::-1])

nohtyP deen uoY ,trohs oot si efiL

In [48]:
today = '20260203오늘은쌀쌀하다.' 
print(today[:4] + '년', today[5:6] + '월', today[7:8] + '일', today[8:11], today[11:])

2026년 2월 3일 오늘은 쌀쌀하다.

In [ ]:
import time as t
dir(t)

In [5]:
# 응용
import requests as req

url = "https://n.news.naver.com/mnews/artic le/079/0004111780"
res = req.get(url).text
print(res[:600])
print(res.find("인간"))
print(res[600:650])

<!doctype html>
<html lang="ko" data-useragent="python-requests/2.32.5">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
		<meta property="og:title" content="&quot;인간들 월요병 꿀잼&quot; &quot;주인이 헛소리&quot;…한국판 AI SNS '머슴' 등장[이런일이]">
		<meta property="og:type" content="article">
		<meta property="og:url" content="https://n.news.naver.com/mnews/article/079/0004111780">
		<meta property="og:image" content="https://imgnews.pstatic.ne
336
t/image/079/2026/02/03/0004111780_001_202602031121

In [12]:
import requests as req

url = "https://api4.binance.com/api/v3/ticker/price?symbol=BTCUSDT"
response_data = req.get(url).json()

price = float(response_data['price'])

won = str(int(price * 1450))
print(won[:1] + '억' + won[1:5] + '만' + won[5:] + '원')

1억1355만1805원

## 문자열 포매팅

In [13]:
app = 3
print("나는 사과를 %d개 먹었다." % app)

나는 사과를 3개 먹었다.

In [15]:
print("나는 사과를 %s개 먹었다." % '3')

나는 사과를 3개 먹었다.

In [16]:
inp = input("몇개인지 입력하세요.")
print("나는 사과를 %s개 먹었다." % (int(inp) * 10))

몇개인지 입력하세요. 3

나는 사과를 30개 먹었다.

In [20]:
# 문자열 포매팅, 2개 이상의 값 넣기
won = 2000
ea = int(input("몇 개인지 입력하세요."))

print("나는 %d원짜리 사과를 %d개 먹었다. 총 비용은 %d원이다." %(won, ea, won * ea))

몇 개인지 입력하세요. 3

나는 2000원짜리 사과를 3개 먹었다. 총 비용은 6000원이다.

<table style="float:left">
<thead>
<tr>
<th>코드</th>
<th>설명</th>
</tr>
</thead>
<tbody>
<tr>
<td>%s</td>
<td><mark>문자열(String)</mark></td>
</tr>
<tr>
<td>%c</td>
<td>문자 1개(character)</td>
</tr>
<tr>
<td>%d</td>
<td><mark>정수(Integer)</mark></td>
</tr>
<tr>
<td>%f</td>
<td><mark>부동소수(floating-point)<mark></td>
</tr>
<tr>
<td>%o</td>
<td>8진수</td>
</tr>
<tr>
<td>%x</td>
<td>16진수</td>
</tr>
<tr>
<td>%%</td>
<td>Literal % (문자 <code>%</code> 자체)</td>
</tr>
</tbody>
</table>

In [28]:
# 문자열
print("%s" % '12.34 문자표현')
# 정수
print("%d" % 12.34)
# 부동소수점
print("%f" % 12.34)
# %%표기
print("한국에 산은 %d%% 정도 있습니다." % 70)

12.34 문자표현
12
12.340000
한국에 산은 70% 정도 있습니다.

In [29]:
# 소수점 표현하기

print("%.2f" % 3.141592)
print("%10.2fkkkk" % 3.141592)
print("%-10.2fkkkk" % 3.141592)

3.14
      3.14kkkk
3.14      kkkk

In [35]:
s = 'five'
ss = "I eat {} apples".format(s)

print(sss, type(sss))

I eat five apples <class 'str'>

In [39]:
s = 'five'
e = 7
ss = "I eat {0} apples, so I was sick for {1} days.".format(s, e)
print(ss, type(ss))

<class 'int'>
I eat five apples, so I was sick for 7 days. <class 'str'>

In [40]:
sss = "I ate {0} apples. so i was sick for {day} days.".format(10, day = 3)
print(sss)

I ate 10 apples. so i was sick for 3 days.

In [5]:
# 왼쪽정렬
print("{0:<10}".format("hi"))
# 오른쪽 정렬
print("{0:>10}".format("hi"))
# 가운데 정렬
print("{0:^10}".format("hi"))

hi
        hi
    hi

In [13]:
# 응용
re = "{0:^18}".format("영수증")
print("=" * 20 + "\n" + re + "\n" + "=" * 20)

====================
       영수증
====================

In [34]:
# input으로 개수를 입력받아

# 한잔에 2500원인 아이스아메리카노를 계산한 영수증을 출력하라.

re = "{:^18}".format("영수증")

====================
       영수증
====================

 3

        3         아아 3잔