In [29]:
def add(a):
    print(a)

In [30]:
# 일급객체
def add2():
    return "더했어요."

In [31]:
add(15)

15

In [35]:
# 매개변수
def add(a, b):
    return(a + b)

In [36]:
add(15, 20)

35

In [37]:
add(10, 20) * 10

300

In [66]:
# return의 특징: 함수 종료\
def return_test():
    '''
    이것은 리턴을 테스트하는 함수입니다.
    '''
    print("리턴전 입니다.")
    return
    print("리턴후 입니다.")

return_test()

리턴전 입니다.

In [68]:
print(return_test.__doc__)

    이것은 리턴을 테스트하는 함수입니다.

In [45]:
def tt():
    for n in range(10):
        print(n, end = " ")
        if n == 6: return

In [46]:
tt()

0 1 2 3 4 5 6

In [72]:
def intro(name):    # name은 매개변수
    print(f"{name}님 안녕하세요.")

In [73]:
intro("홍길동")
intro("슈퍼맨")
intro("이순신")

홍길동님 안녕하세요.
슈퍼맨님 안녕하세요.
이순신님 안녕하세요.

In [77]:
def add(a, b):
    c = a + b
    return c

def mul(a, b):
    c = a * b
    return c

In [79]:
add(30, 20)

50

In [81]:
mul(10, 20)

200

In [86]:
result = add(30, 20) + mul(30, 20)
print(result)

650

In [97]:
def add_many(*args):
    result = 0
    for i in args:
        result = result + i
    return result

In [98]:
add_many(1, 2, 3, 4, 5)

15

In [114]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0
        for i in args:
            result = result + i
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i
    return result

In [115]:
result = add_mul('add', 1,2,3,4,5)
print(result)
result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

In [130]:
# 위 예제에서 args를 하나만 넣고도 동작하도록 만들어보기

def add_mul(*args):
    if args[0] == "add":
        result = 0
        for i in args[1:]:
            result = result + i
    elif args[0] == "mul":
        result = 1
        for i in args[1:]:
            result *= i
    return result

result = add_mul('add', 1,2,3,4,5)
print(result)
result = add_mul('mul', 1,2,3,4,5)
print(result)

In [131]:
result = add_mul('add', 1,2,3,4,5)
print(result)
result = add_mul('mul', 1,2,3,4,5)
print(result)

15
120

In [135]:
def print_test(*args):
    print(args, type(args))
print_test(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5) <class 'tuple'>

In [139]:
def print_kwargs(**kwargs):
    print(kwargs, type(kwargs))

print_kwargs(name = 'foo', age = 3)

{'name': 'foo', 'age': 3} <class 'dict'>

In [143]:
def add_and_mul(a, b):
    return a + b, a * b
add_and_mul(3, 4)

(7, 12)

In [158]:
def add_and_mul(a, b):
    # return a + b, a * b
    # return [a + b, a * b]
    return {a + b : a * b}
    
result = add_and_mul(3, 5)
print(result, type(result))

{8: 15} <class 'dict'>

In [167]:
def say_myself(name, age, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살 입니다." % age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

say_myself("홍길동", 22)
say_myself("박서방", 22, man=True)
say_myself("향단이", 24, man=False)

나의 이름은 홍길동 입니다.
나이는 22살 입니다.
남자입니다.
나의 이름은 박서방 입니다.
나이는 22살 입니다.
남자입니다.
나의 이름은 향단이 입니다.
나이는 24살 입니다.
여자입니다.

In [169]:
def say_myself(name, man=True, age): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % age) 
    if man: 
        print("남자입니다.") 
    else: 
        print("여자입니다.")

say_myself("박응용", 27)

SyntaxError: parameter without a default follows parameter with a default (1842789972.py, line 1)

In [187]:
a = 1

def vartest(a):
    a = a + 1

vartest(a)
print(a)

1

In [188]:
a = 1 
def vartest(a): 
    a = a +1 
    return a

a = vartest(a) 
print(a)

2

In [193]:
a = 1
def vartest(): 
    global a 
    a = a+1

vartest() 
print(a)

2

In [212]:
box = []
name = '홍길동'

def tt(name):
    box.append(name)
    
tt('수퍼맨')
print(box)

['수퍼맨']

<fieldset><legend>점프 투 파이썬</legend><p style="margin-top: 0.2em;"><strong>리스트나 딕셔너리는 함수에서 변경 가능하다</strong></p>
<p>앞의 예제에서는 함수가 숫자나 문자열 같은 값을 받았다. 이런 값들은 함수 안에서 변경해도 함수 밖의 원래 값에는 영향을 주지 않는다. 하지만 리스트나 딕셔너리 같은 자료형은 다르다.</p>
<pre><code class="language-python hljs md-csc-wrap"><button class="md-csc-button btn btn-xs btn-default"><span class="copymsg">Copy</span></button><span class="hljs-meta">&gt;&gt;&gt; </span><span class="hljs-keyword">def</span> <span class="hljs-title function_">change_list</span>(<span class="hljs-params">my_list</span>):
<span class="hljs-meta">... </span>    my_list.append(<span class="hljs-number">4</span>)  <span class="hljs-comment"># 리스트에 값을 추가</span>
...
<span class="hljs-meta">&gt;&gt;&gt; </span>a = [<span class="hljs-number">1</span>, <span class="hljs-number">2</span>, <span class="hljs-number">3</span>]
<span class="hljs-meta">&gt;&gt;&gt; </span>change_list(a)
<span class="hljs-meta">&gt;&gt;&gt; </span><span class="hljs-built_in">print</span>(a)
[<span class="hljs-number">1</span>, <span class="hljs-number">2</span>, <span class="hljs-number">3</span>, <span class="hljs-number">4</span>]
</code></pre>
<p>위 예제를 보면 함수에서 리스트에 값을 추가했을 때 원래 리스트 a도 함께 변경되었다. 이는 리스트가 '변경 가능한(mutable)' 자료형이기 때문이다. 딕셔너리도 마찬가지로 함수 안에서 값을 변경하면 원래 딕셔너리도 함께 변경된다.</p>
<p>따라서 리스트나 딕셔너리를 함수에 전달할 때는 원본이 변경될 수 있다는 점을 기억하자.</p></fieldset>

In [3]:
import random as rand

n, cc = 0, int(input("몇 회 주사위를 던질까요?")or 100)
box = []

while n < cc:
    num = rand.randint(1, 6)
    n += 1
    box.append(num)

if cc == len(box):
    print(f"{cc}회 정상 진행 되었습니다.")
    for i in range(1, 7):
        print(f"주사위 눈금 {i}이 {box.count(i)}번 {(box.count(i) / cc * 100):0.2f}% 출현하였습니다.")
else:
    print(f"검증 결과 이상이 있습니다. {cc}회 목표로 동작하였으나, {len(box)}으로 측정되었습니다.")

몇 회 주사위를 던질까요? 10000

10000회 정상 진행 되었습니다.
주사위 눈금 1이 1684번 16.84% 출현하였습니다.
주사위 눈금 2이 1643번 16.43% 출현하였습니다.
주사위 눈금 3이 1644번 16.44% 출현하였습니다.
주사위 눈금 4이 1672번 16.72% 출현하였습니다.
주사위 눈금 5이 1698번 16.98% 출현하였습니다.
주사위 눈금 6이 1659번 16.59% 출현하였습니다.

## lambda 예약어 *

In [17]:
# 사용법
add = lambda a, b: a + b
result = add(11, 22)
print(result)

33

In [18]:
# 한줄짜리 익명함수

print((lambda x: x**3)(2))

8

In [21]:
# lambda 응용
students = [("철수", 90), ("영희", 85), ("민수", 95)]
ss = sorted(students, key = lambda x: x[1], reverse = True)
print(ss)

[('민수', 95), ('철수', 90), ('영희', 85)]

In [ ]:
import requests as req

url = "https://jsonplaceholder.typicode.com/todos"

result = req.get(url).json()

fin = sorted(result, key = lambda x : x['id'])

print("id를 기준으로 정렬")
print(fin)

completed_fin = [i for i in fin if i['completed'] == True]

print("\n\n\ncompleted가 True 된 내용만 보이게 전처리하라.\n\n\n")
print(completed_fin)

In [ ]:
import requests as req
import random as rand

url = "https://jsonplaceholder.typicode.com/todos"

result = req.get(url).json()

fix = [i | {"score" : rand.randint(40, 100)} for i in result]

# 리스트의 각 요소 끝에 score 이름으로 40~100까지의 임의 값으로 배정하여 fix라는 변수에 등록하라.
print(fix)

# score를 키로 내림차순으로 sort하라. (원본손상 x)

ss = sorted(fix, key = lambda x: x['score'])

print(ss)

In [2]:
import requests as req

url = "https://finance.naver.com/sise/sise_market_sum.naver"

ori = req.get(url).text

start_title = ori.find('<a href="/item/main.naver?code=005930" class="tltle">삼성전자</a>')
ori1 = ori[start_title : start_title + 72].replace('<a href="/item/main.naver?code=005930" class="tltle">', '').replace('</a></td>', '').replace('\n', '').strip()
ori2 = ori[start_title + 72: start_title + 105].strip().replace('<td class="number">', '').replace('</td>', '')


start_title2 = ori.find('<a href="/item/main.naver?code=035420" class="tltle">')
ori11 = ori[start_title2 : start_title2 + 72].replace('<a href="/item/main.naver?code=035420" class="tltle">', '').replace('</a></td>', '').replace('\n', '').strip()
ori22 = ori[start_title2 + 72: start_title2 + 105].strip().replace('<td class="number">', '').replace('</td>', '')


print("종목:", ori1)
print("가격:", ori2)
print("종목:", ori11)
print("가격:", ori22)

종목: 삼성전자
가격: 167,800
종목: NAVER
가격: 257,500

In [18]:
import requests as req

url = "https://finance.naver.com/sise/sise_market_sum.naver"
ori = req.get(url).text

code = ['000270', '005930', '005380', '373220']

def finance(code = '005930'):
    start_title = ori.find(f'<a href="/item/main.naver?code={code}" class="tltle">')
    ori1 = ori[start_title : start_title + 70].replace(f'<a href="/item/main.naver?code={code}" class="tltle">', '').replace('</a></td>', '').replace('\n', '').strip()
    ori2 = ori[start_title + 70: start_title + 105].strip().replace('<td class="number">', '').replace('</td>', '')
    
    
    print("종목:", ori1)
    print("가격:", ori2)
    
for x in code:
    finance(x)

종목: 기아
가격: 161,800
종목: 삼성전자
가격: 167,800
종목: 현대차
가격: 509,000
종목: LG에너지솔루션
가격: 392,000</t